{% extends 'base.html.twig' %}

{% block title %}Soyez les bienvenues{% endblock %}

{% block body %}

        <div class="container py-4"></div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container ">
                <h1 class="display-3 text-primary py-2">Blog de la promo DWWM11</h1>
                <p class="lead">Proin at suscipit leo. Suspendisse pellentesque orci et luctus bibendum. Nulla placerat leo mauris, non sodales nibh condimentum non. Nunc viverra orci quis purus euismod imperdiet. Curabitur sagittis velit ut dui imperdiet, quis tempor elit cursus. Vestibulum quis urna eu ex tempus fermentum. Vivamus efficitur risus quam. Nulla dignissim nibh in lacus commodo, quis tempor eros tincidunt. Ut luctus placerat semper.</p><br>
                <p> Sed posuere tortor sed eros tempor pulvinar. Morbi eget lacinia dolor. Curabitur pretium nisl sit amet erat tristique, eget fringilla erat feugiat. Mauris cursus gravida leo, ac condimentum libero faucibus a. Donec in semper mi. Quisque vitae nibh luctus, euismod tellus sit amet, suscipit magna. Quisque eget ex luctus, ultricies neque sed, aliquet tortor.<p><br>
                <p> Sed posuere tortor sed eros tempor pulvinar. Morbi eget lacinia dolor. Curabitur pretium nisl sit amet erat tristique, eget fringilla erat feugiat. Mauris cursus gravida leo, ac condimentum libero faucibus a. Donec in semper mi. Quisque vitae nibh luctus, euismod tellus sit amet, suscipit magna. Quisque eget ex luctus, ultricies neque sed, aliquet tortor.<p><br>         </p>

                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Rejoignez-nous !!!</a>
                </p>
            </div>
        </div>
    </div> 


{% endblock %}
